<footer class="footer">
  <div class="container">
    
  <nav class="nav nav--footer">
      <ul class="list list--nav">
      <li class="item  item--nav">
	  <a rel="alembic" href="https://github.com/daviddarnes/alembic/tree/master/assets"><img style="height:30px;" alt="Gitlab remote repo" style="border-*:0" src="/assets/placeholder-logo.svg" /></a>
      </li>
      <li class="item  item--nav">
	  <a rel="source" href="https://framagit.org/sc/ecc17"><img style="height:30px;" alt="Gitlab remote repo" style="border-*:0" src="https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/wordmark/wm_no_bg.png"/></a>
	  <!--<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>-->
      </li>
      </ul>
     </nav>
    {% include nav-footer.html %}
  </div>
</footer>
