// Colours
$color__site--background: #fff;
$color__site--heading: #333;
$color__site--body: darken($color__site--heading, 10%);
$color__feature--background: darken($color__site--background, 5%);
$color__site--captions: lighten($color__site--heading, 50%);
$color__site--link: #477065;
$color__site--link--hover: lighten($color__site--link, 40%);
$color__site--link--current: lighten($color__site--link, 20%);
$color__site--accent: #477065;
